<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
   <title>Bootstrap Example</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background: rgb(205, 230, 241)218, 218, 218)">
   
   <div class="container">
   <h2>Bagijnhof 85</h2>
   <p><button type="button" class="btn btn-default"><a href="/dhtpin/get" > Get Temperature </a></button></p>
   

   <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Buitenlucht</h4></div>
        <div class="panel-body">
         {{ t1 }} <br>
         {{ h1 }}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Woonkamer</h4></div>
        <div class="panel-body">
         {{ t2 }} <br>
         {{ h2 }}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Kantoor</h4></div>
        <div class="panel-body">
         {{ t3 }} <br>
         {{ h3 }}
        </div>
      </div>
    </div>
    
</div>
</body>
</html>